<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <title>Help</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h2>How to use weather app ?</h2>
        <ol>
            <h4><li>Go to <a href="http://modi0501-weather-app.herokuapp.com/">Weather App</a></li></h4>
            <h4><li>Search for a valid name of city, town, or district.</li></h4>
            <h4><li>You will get the following information</li></h4>
            <ul>
                    <h4><li>Location</li></h4>
                     <h4><li>Date and time</li></h4>
                      <h4><li>Forecast</li></h4>
            </ul>
        </ol>
    </div>
    {{>footer}}
</body>
{{!-- <script src="js/app.js"></script> --}}
</html>