
<header>
  <h1  style="float:left;">{{title}}&nbsp;</h1>
  <img src="/img/weather.png"  style="float:middle;" alt="">
  <div style="clear: left;"/>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>


